<div>
    <h2 id="page-heading">
        <span jhiTranslate="sportClubApp.club.home.title">Clubs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-club" [routerLink]="['/club/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sportClubApp.club.home.createLabel">
            Create a new Club
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clubs?.length === 0">
        <span jhiTranslate="sportClubApp.club.home.notFound">No clubs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clubs && clubs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clubName"><span jhiTranslate="sportClubApp.club.clubName">Club Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="sportClubApp.club.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clubTypeClubTypeName"><span jhiTranslate="sportClubApp.club.clubType">Club Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organizationOrganizationName"><span jhiTranslate="sportClubApp.club.organization">Organization</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let club of clubs ;trackBy: trackId">
                    <td><a [routerLink]="['/club', club.id, 'view']">{{ club.id }}</a></td>
                    <td>{{ club.clubName }}</td>
                    <td jhiTranslate="{{ 'sportClubApp.ActiveInactiveStatus.' + club.status }}">{{ club.status }}</td>
                    <td>
                        <div *ngIf="club.clubTypeId">
                            <a [routerLink]="['/club-type', club.clubTypeId , 'view']" >{{ club.clubTypeClubTypeName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="club.organizationId">
                            <a [routerLink]="['/organization', club.organizationId , 'view']" >{{ club.organizationOrganizationName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/club', club.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/club', club.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(club)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="clubs && clubs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
