<div>
    <h2 id="page-heading">
        <span jhiTranslate="sportClubApp.clubCourtType.home.title">Club Court Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-club-court-type" [routerLink]="['/club-court-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sportClubApp.clubCourtType.home.createLabel">
            Create a new Club Court Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clubCourtTypes?.length === 0">
        <span jhiTranslate="sportClubApp.clubCourtType.home.notFound">No clubCourtTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clubCourtTypes && clubCourtTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clubCourtTypeCode"><span jhiTranslate="sportClubApp.clubCourtType.clubCourtTypeCode">Club Court Type Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clubCourtTypeName"><span jhiTranslate="sportClubApp.clubCourtType.clubCourtTypeName">Club Court Type Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clubCourtTypeDescription"><span jhiTranslate="sportClubApp.clubCourtType.clubCourtTypeDescription">Club Court Type Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="sportClubApp.clubCourtType.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clubCourtType of clubCourtTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/club-court-type', clubCourtType.id, 'view']">{{ clubCourtType.id }}</a></td>
                    <td>{{ clubCourtType.clubCourtTypeCode }}</td>
                    <td>{{ clubCourtType.clubCourtTypeName }}</td>
                    <td>{{ clubCourtType.clubCourtTypeDescription }}</td>
                    <td jhiTranslate="{{ 'sportClubApp.ActiveInactiveStatus.' + clubCourtType.status }}">{{ clubCourtType.status }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/club-court-type', clubCourtType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/club-court-type', clubCourtType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(clubCourtType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="clubCourtTypes && clubCourtTypes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
