<div>
    <h2 id="page-heading">
        <span jhiTranslate="sportClubApp.clubType.home.title">Club Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-club-type" [routerLink]="['/club-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sportClubApp.clubType.home.createLabel">
            Create a new Club Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clubTypes?.length === 0">
        <span jhiTranslate="sportClubApp.clubType.home.notFound">No clubTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clubTypes && clubTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clubTypeCode"><span jhiTranslate="sportClubApp.clubType.clubTypeCode">Club Type Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clubTypeName"><span jhiTranslate="sportClubApp.clubType.clubTypeName">Club Type Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clubTypeDescription"><span jhiTranslate="sportClubApp.clubType.clubTypeDescription">Club Type Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="sportClubApp.clubType.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clubType of clubTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/club-type', clubType.id, 'view']">{{ clubType.id }}</a></td>
                    <td>{{ clubType.clubTypeCode }}</td>
                    <td>{{ clubType.clubTypeName }}</td>
                    <td>{{ clubType.clubTypeDescription }}</td>
                    <td jhiTranslate="{{ 'sportClubApp.ActiveInactiveStatus.' + clubType.status }}">{{ clubType.status }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/club-type', clubType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/club-type', clubType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(clubType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="clubTypes && clubTypes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
