<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="clubType">
            <h2><span jhiTranslate="sportClubApp.clubType.detail.title">Club Type</span> {{ clubType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sportClubApp.clubType.clubTypeCode">Club Type Code</span></dt>
                <dd>
                    <span>{{ clubType.clubTypeCode }}</span>
                </dd>
                <dt><span jhiTranslate="sportClubApp.clubType.clubTypeName">Club Type Name</span></dt>
                <dd>
                    <span>{{ clubType.clubTypeName }}</span>
                </dd>
                <dt><span jhiTranslate="sportClubApp.clubType.clubTypeDescription">Club Type Description</span></dt>
                <dd>
                    <span>{{ clubType.clubTypeDescription }}</span>
                </dd>
                <dt><span jhiTranslate="sportClubApp.clubType.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sportClubApp.ActiveInactiveStatus.' + clubType.status }}">{{ clubType.status }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/club-type', clubType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
