<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-club-court-heading" jhiTranslate="sportClubApp.clubCourt.home.createOrEditLabel">Create or edit a Club Court</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportClubApp.clubCourt.courtCode" for="field_courtCode">Court Code</label>
                    <input type="text" class="form-control" name="courtCode" id="field_courtCode"
                           formControlName="courtCode"/>
                    <div *ngIf="editForm.get('courtCode')!.invalid && (editForm.get('courtCode')!.dirty || editForm.get('courtCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('courtCode')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportClubApp.clubCourt.courtName" for="field_courtName">Court Name</label>
                    <input type="text" class="form-control" name="courtName" id="field_courtName"
                           formControlName="courtName"/>
                    <div *ngIf="editForm.get('courtName')!.invalid && (editForm.get('courtName')!.dirty || editForm.get('courtName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('courtName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportClubApp.clubCourt.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="Active">{{ 'sportClubApp.ActiveInactiveStatus.Active' | translate }}</option>
                        <option value="Inactive">{{ 'sportClubApp.ActiveInactiveStatus.Inactive' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportClubApp.clubCourt.clubCourtType" for="field_clubCourtType">Club Court Type</label>
                    <select class="form-control" id="field_clubCourtType" name="clubCourtType" formControlName="clubCourtTypeId">
                        <option *ngIf="!editForm.get('clubCourtTypeId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="clubCourtTypeOption.id" *ngFor="let clubCourtTypeOption of clubcourttypes; trackBy: trackById">{{ clubCourtTypeOption.clubCourtTypeName }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('clubCourtTypeId')!.invalid && (editForm.get('clubCourtTypeId')!.dirty || editForm.get('clubCourtTypeId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('clubCourtTypeId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportClubApp.clubCourt.club" for="field_club">Club</label>
                    <select class="form-control" id="field_club" name="club" formControlName="clubId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clubOption.id" *ngFor="let clubOption of clubs; trackBy: trackById">{{ clubOption.clubName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
