<div>
    <h2 id="page-heading">
        <span jhiTranslate="sportClubApp.userDetails.home.title">User Details</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-details" [routerLink]="['/user-details/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sportClubApp.userDetails.home.createLabel">
            Create a new User Details
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userDetails?.length === 0">
        <span jhiTranslate="sportClubApp.userDetails.home.notFound">No userDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userDetails && userDetails.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobileNumber"><span jhiTranslate="sportClubApp.userDetails.mobileNumber">Mobile Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateOfBirth"><span jhiTranslate="sportClubApp.userDetails.dateOfBirth">Date Of Birth</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profilePic"><span jhiTranslate="sportClubApp.userDetails.profilePic">Profile Pic</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="sportClubApp.userDetails.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="sportClubApp.userDetails.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="sportClubApp.userDetails.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userDetails of userDetails ;trackBy: trackId">
                    <td><a [routerLink]="['/user-details', userDetails.id, 'view']">{{ userDetails.id }}</a></td>
                    <td>{{ userDetails.mobileNumber }}</td>
                    <td>{{ userDetails.dateOfBirth | date:'medium' }}</td>
                    <td>
                        <a *ngIf="userDetails.profilePic" (click)="openFile(userDetails.profilePicContentType, userDetails.profilePic)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="userDetails.profilePic">{{ userDetails.profilePicContentType }}, {{ byteSize(userDetails.profilePic) }}</span>
                    </td>
                    <td>{{ userDetails.description }}</td>
                    <td jhiTranslate="{{ 'sportClubApp.ActiveInactiveStatus.' + userDetails.status }}">{{ userDetails.status }}</td>
                    <td>
                        {{ userDetails.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-details', userDetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-details', userDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userDetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="userDetails && userDetails.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
