<div>
    <h2 id="page-heading">
        <span jhiTranslate="sportClubApp.clubManager.home.title">Club Managers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-club-manager" [routerLink]="['/club-manager/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sportClubApp.clubManager.home.createLabel">
            Create a new Club Manager
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clubManagers?.length === 0">
        <span jhiTranslate="sportClubApp.clubManager.home.notFound">No clubManagers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clubManagers && clubManagers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="sportClubApp.clubManager.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="sportClubApp.clubManager.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organizationOrganizationName"><span jhiTranslate="sportClubApp.clubManager.organization">Organization</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clubManager of clubManagers ;trackBy: trackId">
                    <td><a [routerLink]="['/club-manager', clubManager.id, 'view']">{{ clubManager.id }}</a></td>
                    <td jhiTranslate="{{ 'sportClubApp.ActiveInactiveStatus.' + clubManager.status }}">{{ clubManager.status }}</td>
                    <td>
                        {{ clubManager.userLogin }}
                    </td>
                    <td>
                        <div *ngIf="clubManager.organizationId">
                            <a [routerLink]="['/organization', clubManager.organizationId , 'view']" >{{ clubManager.organizationOrganizationName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/club-manager', clubManager.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/club-manager', clubManager.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(clubManager)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="clubManagers && clubManagers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
