<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-organization-heading" jhiTranslate="sportClubApp.organization.home.createOrEditLabel">Create or edit a Organization</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportClubApp.organization.organizationOwnerJhiUserId" for="field_organizationOwnerJhiUserId">Organization Owner Jhi User Id</label>
                    <input type="text" class="form-control" name="organizationOwnerJhiUserId" id="field_organizationOwnerJhiUserId"
                           formControlName="organizationOwnerJhiUserId"/>
                    <div *ngIf="editForm.get('organizationOwnerJhiUserId')!.invalid && (editForm.get('organizationOwnerJhiUserId')!.dirty || editForm.get('organizationOwnerJhiUserId')!.touched)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportClubApp.organization.organizationName" for="field_organizationName">Organization Name</label>
                    <input type="text" class="form-control" name="organizationName" id="field_organizationName"
                           formControlName="organizationName"/>
                    <div *ngIf="editForm.get('organizationName')!.invalid && (editForm.get('organizationName')!.dirty || editForm.get('organizationName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('organizationName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportClubApp.organization.taxNumber" for="field_taxNumber">Tax Number</label>
                    <input type="text" class="form-control" name="taxNumber" id="field_taxNumber"
                           formControlName="taxNumber"/>
                    <div *ngIf="editForm.get('taxNumber')!.invalid && (editForm.get('taxNumber')!.dirty || editForm.get('taxNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('taxNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('taxNumber')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Tax Number' }">
                            This field should follow pattern for "Tax Number".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportClubApp.organization.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportClubApp.organization.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
